/* 
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background-color: #fff;
  position: sticky;
  top: 0 !important;
  box-shadow:0px 3px 6px #00000029;
} */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background-color: #fff;
  position: sticky;
  top: 0 !important;
  z-index: 999;
  box-shadow:0px 3px 6px #00000029;
}

.navbar {
  background-color: #fff;
  height: 58px;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  position: sticky;
  top: 0 !important;
  z-index: 999;
  -webkit-transform: translate3d(0, 0, 0);
transform : translate3d(0, 0, 0);
  box-shadow:0px 3px 6px #00000029;
  
}


.navbar-container {
    display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding-right: 19px;
  padding-left: 16px;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color:grey;
  font-style:italic;
}




